.wrapper{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}

h1{
    text-align: center;
}
.foto{
    width: 30%;
    display: block;
    margin: 30px auto;
}
.section{
    border-bottom: 2px solid grey;
}
.last-section, .section{
    padding:30px 20px;
}
.phone{
    margin-bottom: 30px;
}